body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    padding: 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

footer #aboutus {
    margin-top: 20px;
}

h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

form div {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea {
    width: 96%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.form-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.btn-link {
    background-color:#007bff;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: #007bff;
}
