<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DermaCare - Skin Disease Detection{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/last_activity.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    

</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <h1>DermaCare</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        {% block content %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 DermaCare. All rights reserved.</p>
        <div id="aboutus">
            <h3>About Us</h3>
            <p>We provide advanced skin disease detection and personalized recommendations to improve your skin health.</p>
        </div>
    </footer>
</body>
</html>
